*{
    padding: 0;
    margin: 0;
}

body {
    background: linear-gradient(120deg, #708D81, #CBA35C);
    font-family: 'Cinzel Decorative', serif;
}

.Header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(255, 99, 71, 0.781);
    color: white;
    padding: 20px;
}

.Header > div{
    margin: 10px;
}

.container_entradas {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 20px;
    padding: 40px;
    margin-top: -20px;
}

.container_entradas .item {
    overflow: hidden;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 4px solid black;
}

.container_img_entrada {
    width: 100%;
    height: 280px;
    overflow: hidden;
}

.container_img_entrada img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container_entradas .item h4 {
    padding: 15px;
    text-align: center;
    font-size: 1.1rem;
    color:rgb(0, 0, 0);
}

.entrada_tittle {
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

.rodape {
    background: rgba(0, 0, 0, 0.767);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.rodape_div {
    display: flex;
    margin: 20px;
}

.rodape_div > a {
    color: white;
    padding: 5px;
}

/* 
    Meus erros colocar width e height aonde não precisava e ficar frustado por a imagem não estar 
    encaixando no card


    O correto seria primeiro dar uma largura pro card, no container que detem o src da imagem define a
    altura e seta a width pra 100% pra so dps e mexer na imagem que esta dentro desse container


*/