* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.nav {
    display: flex;
    justify-content: space-between;
    background-color: brown;
    color: white;
    padding: 15px;
}

.logo {
    margin-left: 1%;
}

.Menu {
    display: flex;
}

.links-navegacao {
    display: flex;
    padding-right: 30px;
    align-items: center;
    list-style: none;
}

li a {
    text-decoration: none;
    margin-left: 30px;
    color: white;
}


.item {
    width: 250px;
    height: 300px;
    box-shadow: 1px 2px 2px  black;
    border: 1px solid;
    margin: 0 auto;

}


.item > img {
    width: 250px;
    height: 250px;
}

.Tittle {
    text-align: center;
    padding-top: 25px;
}


.Products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 40px;
    margin-top: 5%;
}

.item, h4, h5 {
    text-align: center;
}

.banner_container {
    display: flex;
    justify-content: center;
    padding-top: 5%;
    
}


.banner_container > img {
    width: auto;
    height: 400px;
}


.tittle_coments {
    text-align: center;  
    padding-top: 5%; 
}

.comentarios_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 40px;
    margin-top: 5%;
    padding-bottom: 5%;
}

.comentarios_container > .item {
    border-radius: 5%;
    width: 280px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.comentarios_container img {
    border-radius: 50%;
}


.footer {
    padding: 20px;
    background-color: rgb(146, 37, 37);
    text-align: center;
    color: white;
}

.footer, a {
    color: white;
    text-decoration: none;
}