h1 {
    border: 1px solid black;
    border-radius: 20px;
    text-align: center;
    background-color: black;
    color: white;

    /* padding-top: 30px;
    padding-right: 55px;
    padding-bottom: 100px;
    padding-left: 20px; */

    padding: 30px 55px 100px 20px;
}

.botao {
    display: block;
    margin: 20px 45%;
    background-color: green;
    color: white;
    padding: 30px;
    width: 50px;
    border-radius: 15px;
    text-decoration: none;
}