.title {
    text-align: center;
}

.container {
    position: relative;
    padding: 15px;
    max-width: 640px;
    margin: 0 auto;
   
}

.galerry {
    display: flex;
    flex-flow: row nowrap;
    gap: 15px;
}

.galerry-wrapper {
    overflow-x: hidden;
}

.item {
    width: 150px;
    height: 150px;
    flex-shrink: 0;
    opacity: 0.5;
}


.current-item {
    border: 1px solid;
    opacity: 1;
}


.prev,
.next {
    position: absolute;
    top: 0;
    left: 0;
    right: auto;
    bottom: 0;
    z-index: 1;
}

.next {
    position: absolute;
    top: 0;
    left: auto;
    right: 0;
}