* {
    padding: 0;
    margin: 0;
}
.header {
    display: flex;
    justify-content: center;
    background-color: rgb(201, 81, 127);
    padding: 25px;
}

.header h2 {
    font-size: 2em;
    color: white;
    /* text-shadow: 5px 5px 5px #000000;
    -webkit-text-stroke-width: .7px;
    -webkit-text-stroke-color: black; */
}

.footer {
   display: flex;
   justify-content: center;
   padding: 20px;
   background-color: rgb(201, 81, 127);
}

.footer h2 {
    color: white;
    padding-right:10px;
}

.social, a {
    display: flex;
    justify-content: space-between;
    width: 120px;
    color: white;
    text-decoration: none;
}

.social i:hover {
    background-color: black;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#fetchImage {
    width: 300px;
    padding: 10px;
    margin-top: 20px;
    border-radius: 10px ;
    font-size: 1.6em;
}

#fetchImage:hover {
    background-color: rgba(226, 132, 168, 0.884);
    color: white;
}

#imageContainer {
    margin-top: 50px;
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    align-items: center;
    gap: 20px; /* Espaçamento entre as imagens */
    padding: 20px; /* Adiciona um padding ao container */
}


/* Efeito de desfocar as imagens não selecionadas */
.imgContent {
    max-width: 100%;
    max-height: 400px;
    object-fit: cover;
    border-radius: 8px;
    transition: filter 0.3s ease, transform 0.3s ease; /* Adiciona uma transição suave ao filtro */
}

/* Classe para focar a imagem */
.imgFocused {
    filter: none; /* Remove o filtro para a imagem focada */
    transform: scale(1.5); /* Aumenta levemente a imagem focada */
    z-index: 10; /* Coloca a imagem focada acima das outras */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Classe para desfocar imagens não selecionadas */
.imgBlurred {
    filter: blur(4px); /* Aplica um desfoque */
    opacity: 0.7; /* Diminui a opacidade */
    transition: filter 0.3s ease, opacity 0.3s ease; /* Adiciona transições suaves */
}
