* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0D1117;
}

.container {
    max-width: 400px;
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #161B22;
    border-radius: 10px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    color: #C9D1D9;
}

.inputUser, .inputPassword {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.inputUser > input, .inputPassword > input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #0D1117;
    color: #C9D1D9;
}

.submitButton > input {
    padding: 10px;
    border: none;
    background-color: #238636;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.submitButton > input:hover {
    background-color: #2EA043;
}