* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

.navigation {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: black;
    
}

.navigation a {
    color: white;
}

.menu {
    display: flex;
    margin-right: 10px;
}

.menu li {
    margin-left: 15px;
}


.container_banner > h2 {
    text-align: center;
    margin-top: 20px;
}

.banner img {
    width: 100%;
    margin-top: 20px;
}

.container_products h2 {
    text-align: center;
    margin: 20px 0 20px;
}

.products {
    display: flex;
}


/* Set 300px to our card and after width 100% */
.card {
    max-width: 250px;
    margin: auto;
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
}


/* our image go to catch 100% of our card 300px */
.card img {
    width: 100%;
    border-bottom: 1px solid #ccc;
}


.promotion_section h3 {
    text-align: center;
    margin: 20px 0 50px;
}

.container_promotion {
    display: flex;
    flex-wrap: wrap;
}

.infos {
    padding: 10px;
}






/* MEDIA QUERIES */
 @media (max-width: 600px) {
    .navigation {
        display: flex;
        justify-content: space-between;
        padding: 20px;
        background-color: black;
    }

    .menu {
        display: flex;
        margin-right: 15px;
    }

    .menu li {
        margin-left: 25px;
    }

    .products img {
        width: 100px;
        height: 100px;
    }

    .products div {
        margin: 5% 8px 0 8px;
    }

    .item h3 {
        font-size: 0.9em;
        text-align: center;
    }
}


@media (max-width: 500px) {
    .navigation {
        display: flex;
        justify-content: space-between;
        padding: 20px;
        background-color: black;
    }

    .menu {
        display: flex;
        margin-right: 15px;
    }

    .menu li {
        margin-left: 25px;
    }

    .products img {
        width: 80px;
        height: 70px;
    }

    .products div {
        margin: 5% 8px 0 8px;
    }

    .item h3 {
        font-size: 0.9em;
        text-align: center;
    }
}
