* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Header styles */

.header {
    background-color: #1A1A1A;
    padding: 15px 0;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo h2 {
    font-family: 'Arial', sans-serif;
    color: #f4f4f4;
    font-size: 24px;
    margin-left: 20px;
}

.search_box input[type="search"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.nav_links{
    list-style: none;
    display: flex;
    gap: 20px;
    margin-right: 20px;
}

.nav_links li a {
    text-decoration: none;
    color: #ffffff;
}

.nav_links li a:hover {
    color: #007BFF;
}

.buy_now a {
    background-color: #FF5733;
    color: #ffffff;
    padding: 8px 12px;
    border-radius: 4px;
}

/* Final header styles  */

/* Some random texts */

.random_tittles h3 {
    text-align: center;
    margin: 15px 0;
    color: #333;
    font-family: 'Arial', sans-serif;
}

/* Banner styles */

.banners_container {
    position: relative;
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    border: 3px solid #ccc;
}

.banners {
    display: flex;
    gap: 15px;
    transition: transform 0.5s ease;
    justify-content: flex-start; /* 🔥 */
    width: max-content;
}

.banners div {
    min-width: 600px;
}

.banners img {
    width: 800px;
    height: 450px;
    border-radius: 8px;
}


.btn_next {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
}

.btn_prev {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}

.btn_next button,
.btn_prev button {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    width: 80px;    
    border-radius: 5px;
}

.btn_next button:hover,
.btn_prev button:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

/* Final banner styles */





