* {
  padding: 0;
  margin: 0;
}


body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.player {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid black;
  align-items: center;
  gap: 15px;
  padding: 20px;  
}

.controls button {
  font-size: 24px;
  margin: 0 10px;
}

.info {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;

}

#cover {
  width: 220px;
  height: 200px;
  border-radius: 10px;
}

#cover > img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}
