* {
  padding: 0;
  margin: 0;
}


body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  min-height: 100vh;
}

.player {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid black;
  align-items: center;
  gap: 15px;
  padding: 20px;
}

.controls button {
  font-size: 24px;
  margin: 0 10px;
}

.info {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;

}