* {
  padding: 0;
  margin: 0;
}

.top-header {
  display: flex;
  background-color: #444;
  height: 80px;
}

#container-seach-upgrade {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  transition: margin-left .5s;
  padding: 16px;
}

.container-seach-bar {
  display: flex;
  gap: 10px;
}

.container-seach-bar > div > .btn_buscar {
  display: inline-block;
  width: 60px;
  height: 30px;
}

#upgrade-container a {
  color: white;
  text-decoration: none;
  background: orange;
  padding: 10px;
  border-radius: 10px;
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  background-color: #444;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #444;
  color: white;
  padding: 10px 15px;
  border: none;
  height: 80px;
}

.openbtn:hover {
  background-color: black;
}


@media screen and (width: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}
