.btn_wrapper {
    position: relative;
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    /* border: 2px solid #270303; */
    z-index: 2;
    bottom: 120px;
}

.btn_banners {
    position: relative;
    display: flex;
    justify-content: center;
    margin: 20px 0;
    gap: 20px;
    /* border: 2px solid #270303; */
}

.btn_banners button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 20px 30px;
    border-radius: 10px;
    font-size: 1.1rem;
}

.btn_banners button:hover {
    background-color: #0056b3;
}