.banners_container {
    position: relative;
    width: 1000px;
    margin: 0 auto;
    overflow: hidden;
}

.banners {
    display: flex;
    gap: 15px;
    transition: transform 0.5s ease;
    justify-content: flex-start;
    width: max-content;
}


.banners img {
    width: 1000px;
    height: 500px;
    border-radius: 8px;
}

.btn_next {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
}

.btn_prev {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}

.btn_next button,
.btn_prev button {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    width: 80px;
    border-radius: 5px;
}

.btn_next button:hover,
.btn_prev button:hover {
    background-color: rgba(0, 0, 0, 0.7);
}