.header div {
    display: flex;
    justify-content: space-between;
    background-color: #333;
}

.logo {
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    flex-direction: column;
}

.search_container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.btn_container button {
    padding: 20px 30px;
    background-color: rgb(54, 143, 173);
}

.btn_container button:hover {
    background-color: rgb(54, 143, 173);
    opacity: 0.8;
}

.nav_list {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
}

.nav_list li a {
    color: white;
    text-decoration: none;
}

.nav_list li a:hover {
    color: rgb(54, 143, 173);
}