@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer header {
  .header {
    background-color: #1A1A1A;
    padding: 15px 0;
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo h2 {
    font-family: 'Arial', sans-serif;
    color: #f4f4f4;
    font-size: 24px;
    margin-left: 20px;
  }

  .search_box input[type="search"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .nav_links {
    list-style: none;
    display: flex;
    gap: 20px;
    margin-right: 20px;
  }

  .nav_links li a {
    text-decoration: none;
    color: #ffffff;
  }

  .nav_links li a:hover {
    color: #007BFF;
  }

  .buy_now a {
    background-color: #FF5733;
    color: #ffffff;
    padding: 8px 12px;
    border-radius: 4px;
  }
}

@layer random_text {
  .random_tittles h3 {
    text-align: center;
    margin: 15px 0;
    color: #fffdfd;
    font-family: 'Arial', sans-serif;
    font-size: 1.8em;
  }
}

@layer banners {
  .banners_container {
    position: relative;
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    border: 3px solid #ccc;
  }

  .banners {
    display: flex;
    gap: 15px;
    transition: transform 0.5s ease;
    justify-content: flex-start;
    /* 🔥 */
    width: max-content;
  }

  .banners div {
    min-width: 800px;
  }

  .banners img {
    width: 1000px;
    height: 500px;
    border-radius: 8px;
  }


  .btn_next {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
  }

  .btn_prev {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
  }

  .btn_next button,
  .btn_prev button {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    width: 80px;
    border-radius: 5px;
  }

  .btn_next button:hover,
  .btn_prev button:hover {
    background-color: rgba(0, 0, 0, 0.7);
  }
}

@layer another_buttons {
  .btn_wrapper {
    position: relative;
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    /* border: 2px solid #270303; */
    z-index: 2;
    bottom: 120px;
  }

  .btn_banners {
    position: relative;
    display: flex;
    justify-content: center;
    margin: 20px 0;
    gap: 20px;
    /* border: 2px solid #270303; */
  }

  .btn_banners button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 20px 30px;
    border-radius: 10px;
    font-size: 1.1rem;
  }

  .btn_banners button:hover {
    background-color: #0056b3;
  }
}

@layer CarrouselItems {
  .destaque_txt {
    text-align: center;
    margin: 50px 0 50px 0;
    color: #fffdfd;
    font-family: 'Arial', sans-serif;
    font-size: 1.8rem;
  }

  .container_instrumentos {
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding-bottom: 40px;
  }

  .container_instrumentos div {
    min-width: 250px;
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }

  .container_instrumentos img {
    width: 220px;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
  }

  .container_instrumentos h4 {
    margin: 10px 0;
    color: #333;
  }

  .container_instrumentos p {
    color: #007BFF;
    font-size: 1.2rem;
    margin-bottom: 10px;
  }

  .container_instrumentos button {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }

  .container_instrumentos button:hover {
    background-color: #218838;
  }
}

@layer category_instruments {
  .title_category {
    text-align: center;
    margin: 50px 0 20px 0;
    font-family: 'Arial', sans-serif;
    font-size: 1.8em;
  }

  .category_instruments {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 40px 0;
    align-items: center;
    width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
  }

  .category_instruments div {
    min-width: 250px;
    border: 1px solid #ccc;
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }

  .category_instruments img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
  }
}

@layer courses {
  .course_title {
    text-align: center;
    margin: 50px 0 20px 0;
    color: #333;
    font-family: 'Arial', sans-serif;
  }

  .course_section {
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
  }

  .course_section div {
    min-width: 250px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
  }

  .course_section img {
    width: 400px;
    height: 350px;
    object-fit: cover;
    border-radius: 10px;
  }

  .course_section h4 {
    margin: 10px 0;
    color: #333;
  }

  .course_section p {
    color: black;
    font-size: 1.2rem;
    margin-bottom: 10px;
  }

  .course_section button {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }

  .course_section button:hover {
    background-color: #218838;
  }

  .course_section .course_info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 20px;
    justify-content: center;
    align-items: center;
  }

  .btn_courses {
    position: relative;
    display: flex;
    justify-content: center;
    margin: 20px 0;
    gap: 20px;
  }

  .btn_agd_Aula button,
  .btn_cnh_planos button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 20px 30px;
    border-radius: 10px;
    font-size: 1.1rem;
  }

  .btn_agd_Aula button:hover,
  .btn_cnh_planos button:hover {
    background-color: #023368;
  }

  .comments {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 100%;
    margin-bottom: 50px;
  }

  .comments img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 10px;
    border: 1px solid black;

  }

  .comments p {
    font-style: italic;
    color: #555;
    margin-left: 20px;
  }
}